.wrapper {
  padding-top: 50px;
 
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
  background: rgb(23, 175, 202) url("http://i.cdn.turner.com/v5cache/CARTOON/site/Images/i24/ppg_bg_1600x300.jpg") top center no-repeat;
}

