.navbar {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
  background-image: url("http://i.cdn.turner.com/v5cache/CARTOON/site/Images/i24/ppg_bg_1600x300.jpg") top center no-repeat;
  background: #AC0377;
  

}

.nav-item {
  padding-right:  30px;
  color: #FF5722;
}


.centernavitem {
  padding-right: 30px;
  color: #FF5722;
}

.navbar-brand {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration-color: azure;
  
}


.bg-light {
  background-color: #e6cccc00!important;
}

.navbar-light .navbar-brand {
  color: #FF5722;
}